@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* html {
    @apply text-primary-foreground;
  } */

  :root {
    --background: 9 0% 95%;
    --foreground: 9 0% 10%;
    --card: 9 0% 90%;
    --card-foreground: 9 0% 15%;
    --popover: 9 0% 95%;
    --popover-foreground: 9 95% 10%;
    --primary: 9 79% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 9 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -29 10% 85%;
    --muted-foreground: 9 0% 35%;
    --accent: -29 10% 80%;
    --accent-foreground: 9 0% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 9 0% 90%;
    --border: 9 20% 50%;
    --input: 9 20% 26%;
    --ring: 9 79% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 9 10% 10%;
    --foreground: 9 0% 90%;
    --card: 9 0% 10%;
    --card-foreground: 9 0% 90%;
    --popover: 9 10% 5%;
    --popover-foreground: 9 0% 90%;
    --primary: 9 79% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 9 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -29 10% 25%;
    --muted-foreground: 9 0% 60%;
    --accent: -29 10% 25%;
    --accent-foreground: 9 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 9 0% 90%;
    --border: 9 20% 26%;
    --input: 9 20% 26%;
    --ring: 9 79% 50%;
    --radius: 0.5rem;
  }
}
